$icomoon-font-path: "fonts" !default;

$pm-icon-activity: "\e900";
$pm-icon-ask: "\e901";
$pm-icon-back: "\e902";
$pm-icon-calendar: "\e903";
$pm-icon-close: "\e904";
$pm-icon-disburse: "\e905";
$pm-icon-dragphoto: "\e906";
$pm-icon-email: "\e907";
$pm-icon-employeelist: "\e908";
$pm-icon-info: "\e909";
$pm-icon-mobile: "\e90a";
$pm-icon-orgsettings: "\e90b";
$pm-icon-overview: "\e90c";
$pm-icon-paybills: "\e90d";
$pm-icon-paymaya: "\e90e";
$pm-icon-profilepic: "\e90f";
$pm-icon-search: "\e910";
$pm-icon-shop: "\e911";
$pm-icon-success: "\e912";
$pm-icon-transfer: "\e913";

